// <auto-generated>
// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for
// license information.
//
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is
// regenerated.
// </auto-generated>

namespace Microsoft.Azure.Management.Quota
{
    using Microsoft.Rest;
    using Microsoft.Rest.Azure;
    using Models;
    using System.Threading;
    using System.Threading.Tasks;

    /// <summary>
    /// Extension methods for QuotaResourceProvidersOperations.
    /// </summary>
    public static partial class QuotaResourceProvidersOperationsExtensions
    {
            /// <summary>
            /// Gets the list of current resource providers supported by Quota resource
            /// provider.
            /// For each resource provider, resource templates supported by the resource
            /// provider will be provided.
            /// For each resource template, the resource dimensions will be listed. The
            /// resource dimensions are the name value pairs in the resource uri.
            /// Example:
            /// For Microsoft.Compute Resource Provider: The url template will be
            /// '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'
            /// The actual dimensions will vary by resource provider. This an example for
            /// illustration.
            /// The resource dimensions will be: {subscriptions},{locations},{quotaBucket}.
            /// The specific details for each resource dimension can be retrieved using the
            /// quotaLimitTypes API call.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            public static ResourceProvidersList List(this IQuotaResourceProvidersOperations operations)
            {
                return operations.ListAsync().GetAwaiter().GetResult();
            }

            /// <summary>
            /// Gets the list of current resource providers supported by Quota resource
            /// provider.
            /// For each resource provider, resource templates supported by the resource
            /// provider will be provided.
            /// For each resource template, the resource dimensions will be listed. The
            /// resource dimensions are the name value pairs in the resource uri.
            /// Example:
            /// For Microsoft.Compute Resource Provider: The url template will be
            /// '/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{locationId}/quotaBucket'
            /// The actual dimensions will vary by resource provider. This an example for
            /// illustration.
            /// The resource dimensions will be: {subscriptions},{locations},{quotaBucket}.
            /// The specific details for each resource dimension can be retrieved using the
            /// quotaLimitTypes API call.
            /// </summary>
            /// <param name='operations'>
            /// The operations group for this extension method.
            /// </param>
            /// <param name='cancellationToken'>
            /// The cancellation token.
            /// </param>
            public static async Task<ResourceProvidersList> ListAsync(this IQuotaResourceProvidersOperations operations, CancellationToken cancellationToken = default(CancellationToken))
            {
                using (var _result = await operations.ListWithHttpMessagesAsync(null, cancellationToken).ConfigureAwait(false))
                {
                    return _result.Body;
                }
            }

    }
}
